.list

  %h1 {{e. Roles}}
  %a{:href=>"{{*roles_add}}"}
    {{e. Añadir rol}}

  .card
    .p40

      {{$messages or}}

      %table#items_list.table.table-striped.table-bordered.dataTable.no-footer{:cellspacing=>"0"}
        %thead
          %tr
            %th {{e. Id}}
            %th {{e. Rol}}
            %th {{e. Acciones}}
        %tbody
          {{foreach $roles as $rol}}
          %tr{:id=>"item{{$rol->id}}"}
            %td {{$rol->id}}
            %td {{$rol->rol}}
            %td
              .btn-group
                %a.btn.btn-primary.btn-raised.btn-xs{:href=>"{{*roles_edit:id|$rol->id}}"}
                  %i.fa.fa-pencil
                %a.btn.btn-warning.btn-raised.btn-xs.showdelete{:href=>"{{*roles_delete:id|$rol->id}}"}
                  %i.fa.fa-trash
          {{endforeach}}

