.p40

  {{$errors}}

  .card
    .p40

      %form{:action=>"{{*escortstype_add}}", :method=>"post"}

        .row.no-gutter.list_items
          .content-items.col-md-12
            {{if !empty($langs)}}
            {{foreach $langs as $k=>$lang}}
            {{@/pages/escortstype/add_lang}}
            {{endforeach}}
            {{endif}}

          .col-md-12
            %a.btn.btn-default.btn-raised.additem{:data=>{'schema' => '(langs\[)([0-9]+)(\])'}, :href=>"{{*escortstype_add_lang}}"}
              {{e. Add Lang}}

        .bloque
          %button.btn.btn-default.btn-raised{:type=>"submit"}
            {{e. Crear}}