.list

  %h1 {{e. Paises}}
  %a{:href=>"{{*countries_add}}"}
    {{e. Añadir pais}}

  .card
    .p40

      {{$messages or}}

      %table#items_list.table.table-striped.table-bordered.dataTable.no-footer{:cellspacing=>"0"}
        %thead
          %tr
            %th {{e. Id}}
            %th {{e. Item}}
            %th {{e. Acciones}}
        %tbody
          {{foreach $countries as $country}}
          %tr{:id=>"item{{$country->id}}"}
            %td {{$country->id}}
            %td {{$country->name}}
            %td
              .btn-group
                %a.btn.btn-primary.btn-raised.btn-xs{:href=>"{{*countries_edit:id|$country->id}}"}
                  %i.fa.fa-pencil
                %a.btn.btn-warning.btn-raised.btn-xs.showdelete{:href=>"{{*countries_delete:id|$country->id}}"}
                  %i.fa.fa-trash
          {{endforeach}}

