.center
  .card
    .card-header
      {{e. Admin}}

    {{$errors}}

    %form.form-floating{:action=>"{{*user_forgot_pass:emailencode|$emailencode}}", :method=>"post"}
      .card-content
        .form-group.label-floating
          %label.control-label {{e. Contraseña}}
          %input.form-control{:type => "password", :name=>"pass", :value=>"{{$pass or ''}}"}

        .form-group.label-floating
          %label.control-label {{e. Repite tu contraseña}}
          %input.form-control{:type => "password", :name=>"pass2", :value=>"{{$pass2 or ''}}"}

      .card-action.clearfix
        .pull-right
          %a.btn.btn-primary.btn-raised.black-text{:href => "{{*login_adm}}"}
            {{e. Go to login}}
            .ripple-wrapper

          %button.btn.btn-primary.btn-raised.black-text{:type => "submit"}
            {{e. Enviar}}
            .ripple-wrapper



