.list

  %h1 {{e. EscortTypeLang}}
  %a{:href=>"{{*escortstypelan_add}}"}
    {{e. Añadir EscortTypeLang }}

  .card
    .p40

      {{$messages or}}

      %table#items_list.table.table-striped.table-bordered.dataTable.no-footer{:cellspacing=>"0"}
        %thead
          %tr
            %th {{e. Id}}
            %th {{e. Item}}
            %th {{e. Acciones}}
        %tbody
          {{foreach $escortstypelan as $escorttypelang}}
          %tr{:id=>"item{{$escorttypelang->id}}"}
            %td {{$escorttypelang->id}}
            %td {{$escorttypelang->rol}}
            %td
              .btn-group
                %a.btn.btn-primary.btn-raised.btn-xs{:href=>"{{*escortstypelan_edit:id|$escorttypelang->id}}"}
                  %i.fa.fa-pencil
                %a.btn.btn-warning.btn-raised.btn-xs.showdelete{:href=>"{{*escortstypelan_delete:id|$escorttypelang->id}}"}
                  %i.fa.fa-trash
          {{endforeach}}

