%h1 {{e. Delete Escort}}

%h3 {{$escort->field}}

%a.btn.btn-primary.cancelitem{:href=>"#"}
  {{e. Cancelar}}
%a.btn.btn-warning.btn-raised.deleteitem{:href=>"{{*escorts_delete:id|$escort->id}}"}
  {{e. Borrar}}
