.center
  .card
    .card-content
      .text-center
        %i.fa.fa-times-circle.error-icon
        %h1.pink-text 500
        %p.card-title-desc {{e. Soy tan despistado que no sé si he perdido el perro o me he encontrado una correa.}}
    .card-action.clearfix
      .text-center
        %a.btn.btn-warning.btn-block.btn-raised{:href => "{{*home}}"} {{e. Back to the homepage}}
