.p40

  {{$errors}}

  .card
    .p40

      %form{:action=>"{{*categories_add}}", :method=>"post"}

        .row
          .col-md-6
            .form-group.label-floating
              %label.control-label {{e. Nombre}}
              %input.form-control{:type => "text", :name=>"name", :value=>"{{$name or}}"}
          .col-md-6
            .form-group
              %label {{e. Categoría padre}}
              %select.form-control{:name=>"categoryparent[id]"}
                %option{:value=>""} {{e. Categoría Padre}}
                {{foreach $categories as $category}}
                {{$selected = isset($categoryparent->id) && ($category->id == $categoryparent->id)}}
                %option(selected:selected){:value=>"{{$category->id}}"} {{$category->name}}
                {{endforeach}}


        .bloque
          %button.btn.btn-default.btn-raised{:type=>"submit"}
            {{e. Crear}}