%h1 {{e. Delete Category}}

%h3 {{$category->name}}

%a.btn.btn-primary.cancelitem{:href=>"#"}
  {{e. Cancelar}}
%a.btn.btn-warning.btn-raised.deleteitem{:href=>"{{*categories_delete:id|$category->id}}"}
  {{e. Borrar}}
