!!! 5
%html{:lang => 'es'}
  %head
    %meta{:charset => "utf-8"}

    %meta{:name => "description", :content => "{{$this->getHeader('description')}}"}
    %meta{:name => "keywords", :content => "{{$this->getHeader('keywords')}}"}
    %title {{$this->getHeader('title')}}

    {{if $this->getHeader('index')}}
    {{if $this->getHeader('canonical')}}
    %link{:rel => "canonical", :href => "{{$this->getHeader('canonical')}}"}
    {{endif}}
    %meta{:name => "robots", :content => "index, follow"}
    {{else}}
    %meta{:name => "robots", :content => "noindex, follow"}
    {{endif}}

    %link{:href => "{{$this->getHeader('favicon')}}", :rel => "shortcut icon"}
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:400,100,300", :rel=>"stylesheet", :type=>'text/css'}
    %link{:href => "{{$this->getLink('css')}}", :rel => "stylesheet"}
    %script{:src => "{{$this->getLink('js')}}"}

    :javascript
      $(function(){ App = new App(); App.ini();});

  %body

    {{@view}}
