{{@/forms/messages/errors}}
{{@/forms/messages/success}}
{{@/forms/messages/avisos}}

%form{:action=>"{{$action}}", :method=>"post"}

  .bloque
    %label {{e. Rol}}
    %input{:type=>"text", :name=>"rol", :value=>"{{$formdata['rol']}}"}

  .bloque
    %button{:type=>"submit"}
      {{e. Enviar}}