%aside.sidebar.fixed
  .brand-logo
    #logo {{e. ADMIN}}
  .user-logged-in
    .content
      .user-name
        {{$user->name}}
        %span.text-muted.f9 admin
      .user-email {{$user->email}}
      .user-actions
        %a.m-r-5{:href => "#"} {{e. settings}}
        %a{:href => "{{*logout}}"} {{e. logout}}

  %ul.menu-links
    %li
      %a{:href=>"#"}
        %i.fa.fa-home
        %span {{e. Dashboard}}
    %li
      %a.sub{:href=>"#"}
        %i.fa.fa-users
        %span {{e. Users}}
      %ul
        %li
          %a{:href=>"{{*users_list}}"}
            %span {{e. Usuarios}}
        %li
          %a{:href=>"{{*roles_list}}"}
            %span {{e. Roles}}
        %li
          %a{:href=>"{{*countries_list}}"}
            %span {{e. Paises}}
        %li
          %a{:href=>"{{*mediastype_list}}"}
            %span {{e. Media Types}}

    %li
      %a.sub{:href=>"#"}
        %i.fa.fa-users
        %span {{e. Blog}}
      %ul
        %li
          %a{:href=>"{{*categories_list}}"}
            %span {{e. Categorías}}
        %li
          %a{:href=>"{{*posts_list}}"}
            %span {{e. Posts}}
        %li
          %a{:href=>"{{*imagesposttypes_list}}"}
            %span {{e. Image Types}}
    %li
      %a.sub{:href=>"#"}
        %i.fa.fa-users
        %span {{e. Escorts}}
      %ul
        %li
          %a{:href=>"{{*escortstype_list}}"}
            %span {{e. Tipos}}